<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="query" @keyup.enter="getSongList">
    <el-switch
      v-model="isLoop"
      active-text="列表循环"
      active-color="#13ce66"
      inactive-color="#ff4949">
    </el-switch>
    <p> {{message}} <p>
    <p>正在播放 {{songName}}</p>
    <audio controls autoplay :src="songUrl" @ended="handleNext"></audio>
    <div v-for="song in songList">
      <el-link type="primary" @click="playMusic(song.id)"> {{song.name + ' - ' + song.artists[0].name}} </el-link>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        query: "ヨルシカ",
        message: 'Hello Vue!',
        songList: [],
        songIndex: 0,
        songUrl: "",
        isLoop: false
      },
      computed: {
        songName: function() {
          if (this.songList.length === 0) {
            return "没有正在播放的歌曲";
          }
          else {
            return this.songList[this.songIndex].name;
          }
        }
      },
      methods: {
        getSongList: function() {
          axios.get('https://autumnfish.cn/search?keywords=' + this.query + "&limit=" + "60").then(res => {
            console.log("Processing response...");
            console.log(res);
            this.songList = res.data.result.songs;
          }).catch(err => {
            console.log(err);
          });
        },
        playMusic: function(songId) {
          for (let i = 0; i < this.songList.length; i++) {
              if (this.songList[i].id === songId) {
                this.songIndex = i;
                break;
              }
          }
          console.log(this.songIndex);
          axios.get("https://autumnfish.cn/song/url?id=" + songId).then(res => {
            console.log(res);
            this.songUrl = res.data.data[0].url;
          }).catch(err => {
            console.log(err);
          })
        },
        handleNext: function() {
            if (this.isLoop) {
              this.songIndex = (this.songIndex + 1) % this.songList.length;
              this.playMusic(this.songList[this.songIndex].id);
            }
        }
      }
    })
  </script>
</body>
</html>